<% include ../includes/head %>

<body class="sidebar-push">
  
<% include ../includes/nav %>

<% include ../includes/sidebar %>

<div class="container-fluid ">
	<div id="main">
		<div class="page-header">
			<div class="pull-right">
				<select class="selectpicker" multiple data-max-options="2">
					<option selected>16 Dec 2014</option>
					<option selected>25 Dec 2014</option>
					<option>01 Jan 2015</option>
					<option>15 Jan 2015</option>
				</select>
			</div>

			<h1><i class="md md-local-atm"></i> <%=device.title%> Cashboxes</h1>
		</div>

		<div class="panel panel-default padding-15">
			<div class="ct-chart" id="cashboxes-chart" style="height: 300px; padding-right:15px;"></div>
		</div>

		<table class="table table-bordered">
			<thead>
			<tr>
				<th colspan="4" class="text-center">
					<span class="pull-right">
						<a href="#" class="btn btn-xs btn-primary btn-icon"><i class="md md-add"></i></a>
						<a href="#" class="btn btn-xs btn-default-dark btn-icon"><i class="md md-search"></i></a>
					</span>
				
					<div class="h4 margin-none">
						<span class="regular">Coin Balance</span> 
						<span class="text-primary">$<%=(deviceBalUsd / 100).toFixed(2)%></span>
						&nbsp; &nbsp; | &nbsp; &nbsp;
						<span class="regular">Cashbox Balance</span> 
						<span class="text-primary">$<%=cashboxBal%> [ <%=numNotes%> ]</span>
					</div>
				</th>
			</tr>
			<tr class="text-uppercase ">
				<!-- <th class="text-center" style="width:80px">Type</th> -->
				<th>Information</th>
				<th class="text-center">Balance</th>
			</tr>
			</thead>
			<tbody>
			<% for (var i = 0; i < cashboxes.length; i++) { %>
			<tr>
<!-- 				<td class="text-center">
					<span class="fa-stack fa-lg">
						<i class="fa fa-circle fa-stack-2x text-muted"></i>
						<i class="fa fa-money fa-stack-1x text-white"></i>
					</span>
				</td>
 -->				<td>
					<strong class="text-primary">Cashbox #<%=cashboxes[i].id%></strong>
					
					<% if (cashboxes[i].paid > 0 && cashboxes[i].referenceid.length == 64) { %>
					<br>
					
					<span class="hidden-xs">
					[ <strong class="text-orange">PAID $<%=(cashboxes[i].paid / 100).toFixed(2)%></strong> | <a href="https://modenero.info/tx/<%=cashboxes[i].referenceid%>/" target="_blank"><%=cashboxes[i].referenceid%></a> ]
					</span>
					
					<span class="visible-xs">
					[ <strong class="text-orange">PAID $<%=(cashboxes[i].paid / 100).toFixed(2)%></strong> | <a href="https://modenero.info/tx/<%=cashboxes[i].referenceid%>/" target="_blank"><%=cashboxes[i].referenceid.slice(0, 16)%>...<%=cashboxes[i].referenceid.slice(0, 16)%></a> ]
					</span>
					<% } %>
					
					<div class="text-muted lastupdate"><%=cashboxes[i].lastupdate%></div>
					<table class="table table-condensed table-bordered">
					<tr>
						<td align="center">$1</td>
						<td align="center">$5</td>
						<td align="center">$10</td>
						<td align="center">$20</td>
						<td align="center">$50</td>
						<td align="center">$100</td>
					</tr>
					<tr>
						<td align="center"><%=cashboxes[i].num1%></td>
						<td align="center"><%=cashboxes[i].num5%></td>
						<td align="center"><%=cashboxes[i].num10%></td>
						<td align="center"><%=cashboxes[i].num20%></td>
						<td align="center"><%=cashboxes[i].num50%></td>
						<td align="center"><%=cashboxes[i].num100%></td>
					</tr>
					</table>
				</td>

				<td class="text-center">
					<% if (cashboxes[i].isActive) { %>
					<span class="text-orange bold">$<%=cashboxBal%></span><br>
					<small class="text-muted">IN USE</small>
					<% } else { %>
					<span class="text-orange bold">$<%=cashboxes[i].balance%></span>
					<% } %>
				</td>
			</tr>
			<% } %>
			</tbody>
			<tfoot>
			<tr>
				<td colspan="4" class="text-center">
					<ul class="pagination margin-none">
						<li class="active"><a href="#">1</a></li>
						<li><a href="#">2</a></li>
						<li><a href="#">3</a></li>
						<li><a href="#">4</a></li>
					</ul>
				</td>
			</tr>
			</tfoot>
		</table>
	</div>

	<% include ../includes/footer %>
</div>

<div class="overlay-disabled"></div>

<script>
var	day0 = moment('<%=cashboxes[0] ? cashboxes[0].lastupdate : 0%>').format('dddd') + '|' + moment('<%=cashboxes[0] ? cashboxes[0].lastupdate : 0%>').format('D'),
	day1 = moment('<%=cashboxes[1] ? cashboxes[1].lastupdate : 0%>').format('dddd') + '|' + moment('<%=cashboxes[1] ? cashboxes[1].lastupdate : 0%>').format('D'),
	day2 = moment('<%=cashboxes[2] ? cashboxes[2].lastupdate : 0%>').format('dddd') + '|' + moment('<%=cashboxes[2] ? cashboxes[2].lastupdate : 0%>').format('D'),
	day3 = moment('<%=cashboxes[3] ? cashboxes[3].lastupdate : 0%>').format('dddd') + '|' + moment('<%=cashboxes[3] ? cashboxes[3].lastupdate : 0%>').format('D'),
	day4 = moment('<%=cashboxes[4] ? cashboxes[4].lastupdate : 0%>').format('dddd') + '|' + moment('<%=cashboxes[4] ? cashboxes[4].lastupdate : 0%>').format('D'),
	day5 = moment('<%=cashboxes[5] ? cashboxes[5].lastupdate : 0%>').format('dddd') + '|' + moment('<%=cashboxes[5] ? cashboxes[5].lastupdate : 0%>').format('D'),
	day6 = moment('<%=cashboxes[6] ? cashboxes[6].lastupdate : 0%>').format('dddd') + '|' + moment('<%=cashboxes[6] ? cashboxes[6].lastupdate : 0%>').format('D')

var cashboxAvg = parseInt((<%=cashboxes[0] ? cashboxes[0].balance : 0%> + <%=cashboxes[1] ? cashboxes[1].balance : 0%> + <%=cashboxes[2] ? cashboxes[2].balance : 0%> + <%=cashboxes[3] ? cashboxes[3].balance : 0%> + <%=cashboxes[4] ? cashboxes[4].balance : 0%> + <%=cashboxes[5] ? cashboxes[5].balance : 0%> + <%=cashboxes[6] ? cashboxes[6].balance : 0%>) / 7)

var day0Val = <%=cashboxes [0] ? cashboxes[0].balance : 0%>,
	day0Avg = cashboxAvg,
	day1Val = <%=cashboxes [1] ? cashboxes[1].balance : 0%>,
	day1Avg = cashboxAvg,
	day2Val = <%=cashboxes [2] ? cashboxes[2].balance : 0%>,
	day2Avg = cashboxAvg,
	day3Val = <%=cashboxes [3] ? cashboxes[3].balance : 0%>,
	day3Avg = cashboxAvg,
	day4Val = <%=cashboxes [4] ? cashboxes[4].balance : 0%>,
	day4Avg = cashboxAvg,
	day5Val = <%=cashboxes [5] ? cashboxes[5].balance : 0%>,
	day5Avg = cashboxAvg,
	day6Val = <%=cashboxes [6] ? cashboxes[6].balance : 0%>,
	day6Avg = cashboxAvg

var data = {
    labels: [ day6, day5, day4, day3, day2, day1, day0 ],
    series: [ {
        data: [ day6Avg, day5Avg, day4Avg, day3Avg, day2Avg, day1Avg, day0Avg ],
        className: "brand-default-stroke"
    }, {
        data: [ day6Val, day5Val, day4Val, day3Val, day2Val, day1Val, day0Val ],
        className: "brand-primary-stroke"
    } ]
}

// new Chartist.Line('#cashboxes-chart', data, {
new Chartist.Bar('#cashboxes-chart', data, {
	axisY: {
    	labelInterpolationFnc: function(value) {
      		return '$' + value
    	}
  	}
}).on('draw', function(data) {
	if(data.type === 'bar') {
		data.element.attr({
			style: 'stroke-width: 30px'
		})
	}
})

// update display to localized dates
$('.lastupdate').each(function (index) {
	// convert utc to local
	var local = moment($(this).text()).format('dddd, MMMM Do YYYY, h:mm:ss a')
	// console.log('local', local)

	// update the dates to local
	$(this).text(local)
})
</script>

</body>
</html>