<% include includes/head %>

<body class="sidebar-push">
  
<% include includes/nav %>

<% include includes/sidebar %>

<div class="container-fluid ">  
	<div id="main">
		<div class="bummer bummer-large">
			<i class="md md-sync-problem"></i>
			Oops! This page doesn't exist. <span class="text-primary">[Error Code: <strong>404</strong>]</span>
		</div>
	</div>

	<% include includes/footer %>
</div>

<div class="overlay-disabled"></div>

<!-- Plugins -->
<script src="js/plugins.min.js"></script>

  
<!-- App Scripts -->
<script src="js/scripts.js"></script>

</body>
</html>