<% include includes/head %>

<body class="sidebar-push">
  
<% include includes/nav %>

<% include includes/sidebar %>

<div class="container-fluid">
	<div id="main">
		<div class="page-header">
			<h2>Compliance Toolkit</h2>
		</div>

		<div role="tabpanel">
			<ul class="nav nav-tabs" role="tablist">
				<li role="presentation" class="active">
					<a href="#phone" aria-controls="account" role="tab" data-toggle="tab">Phone Search</a>
				</li>
				<li role="presentation">
					<a href="#sanctions" aria-controls="payments" role="tab" data-toggle="tab">Sanctions Screening</a>
				</li>
			</ul>

			<!-- Tab panes -->
			<div class="tab-content tab-content-default">

				<% include compliance/phone %>

				<% include compliance/sanctions %>

			</div>
		</div>
	</div>

	<% include includes/footer %>
</div>

<div class="overlay-disabled"></div>

<div id="error-invalid-contact-search" style="visibility: hidden">
	<br>
	<div class="alert alert-danger">
		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			<span aria-hidden="true">&times;</span></button>
		This is an <strong>INVALID</strong> phone number.
	</div>
</div>


<link rel="stylesheet" href="//cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">
<script src="//cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>


<script src="//cdn.libkc.com/socket.io/1/socket.io.min.js"></script>
<script>
var sessionId = sessionStorage.getItem('sessionId')
var uid       = sessionStorage.getItem('uid')

console.log('sessionId', sessionId)
console.log('uid', uid)

var socket = io('https://manager.modenero.com')

socket.on('test-rcv', function (data) {
	console.log('test-rcv')
	console.log(data);
	// socket.emit('my other event', { my: 'data' });
})
socket.emit('test-send', { my: 'data' })


// var phoneSearch = function (contactNum) {
// 	$.getJSON('//api.kewllife.com/v1/modenero/compliance/phone/' + contactNum, function (data) {
// 		console.log(data)

// 		if (data.failed == 1) {
// 			$('#contact-search-status').html($('#error-invalid-contact-search').html())
// 			// var options =  {
// 			// 	content : 'Phone number is invalid!',
// 			// 	style   : 'toast',
// 			// 	timeout : 3000
// 			// }
// 			// $.snackbar(options);

// 			return false
// 		}

// 		if (data) {
// 			var type = data.type
// 			$('#contact-type').val(type)
// 		}

// 		if (data.data) {
// 			var cnam = data.data.cnam
// 			$('#contact-fullname').val(cnam)

// 			var lineType = data.data.linetype
// 			$('#contact-line-type').val(lineType)

// 			var gender = data.data.gender
// 			$('#contact-gender').val(gender)
// 		}

// 		if (data.data.carrier) {
// 			var carrierName = data.data.carrier.name
// 			$('#contact-carrier').val(carrierName)
// 		}

// 		if (data.data.location) {
// 			var locationCity = data.data.location.city
// 			var locationState = data.data.location.state
// 			var locationZip = data.data.location.zip

// 			var location = locationCity + ', ' + locationState + ' ' + locationZip
// 			$('#contact-location').val(location)
// 		}
// 	})
// }

var nameSearch = function (customer) {
	$.getJSON('//api.kewllife.com/v1/modenero/compliance/screening/', customer, function (data) {
		console.log(data)

		// if (data.failed == 1) {
		// 	$('#contact-search-status').html($('#error-invalid-contact-search').html())
		// 	// var options =  {
		// 	// 	content : 'Phone number is invalid!',
		// 	// 	style   : 'toast',
		// 	// 	timeout : 3000
		// 	// }
		// 	// $.snackbar(options);

		// 	return false
		// }

		// if (data) {
		// 	var type = data.type
		// 	$('#contact-type').val(type)
		// }

		// if (data.data) {
		// 	var cnam = data.data.cnam
		// 	$('#contact-fullname').val(cnam)

		// 	var lineType = data.data.linetype
		// 	$('#contact-line-type').val(lineType)

		// 	var gender = data.data.gender
		// 	$('#contact-gender').val(gender)
		// }

		// if (data.data.carrier) {
		// 	var carrierName = data.data.carrier.name
		// 	$('#contact-carrier').val(carrierName)
		// }

		// if (data.data.location) {
		// 	var locationCity = data.data.location.city
		// 	var locationState = data.data.location.state
		// 	var locationZip = data.data.location.zip

		// 	var location = locationCity + ', ' + locationState + ' ' + locationZip
		// 	$('#contact-location').val(location)
		// }
	})
}

function format ( d ) {
    return 'Full name: '+d.first_name+' '+d.last_name+'<br>'+
        'Salary: '+d.salary+'<br>'+
        'The child row can contain any data you wish, including links, images, inner tables etc.';
}

var updateSactionsList = function () {
	var options = {
		// "columnDefs": [
  //           {
  //               "targets": [ 2 ],
  //               "visible": false,
  //               "searchable": false
  //           },
  //           {
  //               "targets": [ 3 ],
  //               "visible": false
  //           }
  //       ],
        // "drawCallback": function ( settings ) {
        //     var api = this.api();
        //     var rows = api.rows( {page:'current'} ).nodes();
        //     var last=null;
 
        //     api.column(2, {page:'current'} ).data().each( function ( group, i ) {
        //         if ( last !== group ) {
        //             $(rows).eq( i ).before(
        //                 '<tr class="group"><td colspan="7">'+group+'</td></tr>'
        //             );
 
        //             last = group;
        //         }
        //     } );
        // }

        "columns": [
            {
                "class":          "details-control",
                "orderable":      false,
                "data":           null,
                "defaultContent": ""
            },
            null,
            null,
            null,
            null,
            null,
            null,
            null
        ],
        "order": [[1, 'asc']]
	}

    complianceList = $('#compliance-list').DataTable(options)

// Array to track the ids of the details displayed rows
    var detailRows = [];

$('#compliance-list tbody').on( 'click', 'tr td.details-control', function () {
        var tr = $(this).closest('tr');
        var row = complianceList.row( tr );
        var idx = $.inArray( tr.attr('id'), detailRows );
 
        if ( row.child.isShown() ) {
            tr.removeClass( 'details' );
            row.child.hide();
 
            // Remove from the 'open' array
            detailRows.splice( idx, 1 );
        }
        else {
            tr.addClass( 'details' );
            row.child( format( row.data() ) ).show();
 
            // Add to the 'open' array
            if ( idx === -1 ) {
                detailRows.push( tr.attr('id') );
            }
        }
    } );

// complianceList.on( 'draw', function () {
//         $.each( detailRows, function ( i, id ) {
//             $('#'+id+' td.details-control').trigger( 'click' );
//         } );
//     } );

    var pkg = {}

	socket.emit('sanctions-list', pkg, function(err, data) {
		console.log('data', data.data)

		if (data) {
			var totalCount = data.total_count
			console.log('Total Count', totalCount)

			var list = data.data

			for (var i = 0; i < list.length; i++) {
				console.log(i, list[i])

				var dob = list[i].birth_year ? list[i].birth_year : '' + 
						  '.' + list[i].birth_month ? list[i].birth_month : '' + 
						  '.' + list[i].birth_day ? list[i].birth_day : ''

				complianceList.row.add([
					'',
					'nick',
					list[i].name_first,
					// '',
					list[i].name_last,
					dob,
					'D/L',
					list[i].document_value,
					list[i].address_street1,
					// '<td class="text-center"><a href="#" class="btn btn-default btn-rounded"><i class="md md-edit"></i></a><a href="#" class="btn btn-default btn-rounded"><i class="md md-delete"></i></a></td>'
				]).draw(false)
			}
		}

		// if (data.data) {
		// 	var cnam = data.data.cnam
		// 	$('#contact-fullname').val(cnam)

		// 	var lineType = data.data.linetype
		// 	$('#contact-line-type').val(lineType)

		// 	var gender = data.data.gender
		// 	$('#contact-gender').val(gender)
		// }

		// if (data.data.carrier) {
		// 	var carrierName = data.data.carrier.name
		// 	$('#contact-carrier').val(carrierName)
		// }

		// if (data.data.location) {
		// 	var locationCity = data.data.location.city
		// 	var locationState = data.data.location.state
		// 	var locationZip = data.data.location.zip

		// 	var location = locationCity + ', ' + locationState + ' ' + locationZip
		// 	$('#contact-location').val(location)
		// }
	})
}

var sanctionsSearch = function (customer) {
	// $('#compliance-list tr:last').after('<tr><td>Sample 1</td><td>Testing</td><td>Regional Director</td><td>Edinburgh</td><td>51</td><td>2008/11/13</td><td>$183,000</td><td>6373</td><td>s.decker@datatables.net</td></tr>')

	complianceList.row.add([
		'Sample 2',
		'Dynamic',
		'Regional Director',
		'more',
		'2',
		'3',
		'4',
		'less',
		'6'
	]).draw(false)

return
	socket.emit('sanctions-search', customer, function(err, data) {
		console.log('data', data)

		data = JSON.parse(data)

		if (data) {
			var type = data.type
			$('#contact-type').val(type)

			var pricingTotal = data.pricing.total
			$('#contact-pricing-total').html(pricingTotal)
		}

		if (data.data) {
			var cnam = data.data.cnam
			$('#contact-fullname').val(cnam)

			var lineType = data.data.linetype
			$('#contact-line-type').val(lineType)

			var gender = data.data.gender
			$('#contact-gender').val(gender)
		}

		if (data.data.carrier) {
			var carrierName = data.data.carrier.name
			$('#contact-carrier').val(carrierName)
		}

		if (data.data.location) {
			var locationCity = data.data.location.city
			var locationState = data.data.location.state
			var locationZip = data.data.location.zip

			var location = locationCity + ', ' + locationState + ' ' + locationZip
			$('#contact-location').val(location)
		}
	})
}

var idmSearch = function (customer) {
	$.getJSON('//api.kewllife.com/v1/modenero/compliance/kyc/', customer, function (data) {
		// console.log(data)

		$('#screening-result').val(JSON.stringify(data))
		$('#screening-results').val(JSON.stringify(data))

		var ednaScoreCard = data.ednaScoreCard
console.log('ednaScoreCard', ednaScoreCard)

		var etr = ednaScoreCard.etr
console.log('etr', etr)

		var ts2Details = etr[2].details
		var ss2Details = etr[4].details

		$('#screening-ts2-details').val(ts2Details)
		$('#screening-ss2-details').val(ss2Details)

		
		

		// if (data.failed == 1) {
		// 	$('#contact-search-status').html($('#error-invalid-contact-search').html())
		// 	// var options =  {
		// 	// 	content : 'Phone number is invalid!',
		// 	// 	style   : 'toast',
		// 	// 	timeout : 3000
		// 	// }
		// 	// $.snackbar(options);

		// 	return false
		// }

		// if (data) {
		// 	var type = data.type
		// 	$('#contact-type').val(type)
		// }

		// if (data.data) {
		// 	var cnam = data.data.cnam
		// 	$('#contact-fullname').val(cnam)

		// 	var lineType = data.data.linetype
		// 	$('#contact-line-type').val(lineType)

		// 	var gender = data.data.gender
		// 	$('#contact-gender').val(gender)
		// }

		// if (data.data.carrier) {
		// 	var carrierName = data.data.carrier.name
		// 	$('#contact-carrier').val(carrierName)
		// }

		// if (data.data.location) {
		// 	var locationCity = data.data.location.city
		// 	var locationState = data.data.location.state
		// 	var locationZip = data.data.location.zip

		// 	var location = locationCity + ', ' + locationState + ' ' + locationZip
		// 	$('#contact-location').val(location)
		// }
	})
}

$('#contact-search').click(function () {
	// console.log('contact search clicked')

	// clear errors
	$('#contact-search-status').html('')

	var contactNum = $('#contact-num').val()
	console.log('contactNum', contactNum)

	socket.emit('phone-search', contactNum, function(err, data) {
		console.log('data', data)

		data = JSON.parse(data)

		if (data) {
			var type = data.type
			$('#contact-type').val(type)

			var pricingTotal = data.pricing.total
			$('#contact-pricing-total').html(pricingTotal)
		}

		if (data.data) {
			var cnam = data.data.cnam
			$('#contact-fullname').val(cnam)

			var lineType = data.data.linetype
			$('#contact-line-type').val(lineType)

			var gender = data.data.gender
			$('#contact-gender').val(gender)
		}

		if (data.data.carrier) {
			var carrierName = data.data.carrier.name
			$('#contact-carrier').val(carrierName)
		}

		if (data.data.location) {
			var locationCity = data.data.location.city
			var locationState = data.data.location.state
			var locationZip = data.data.location.zip

			var location = locationCity + ', ' + locationState + ' ' + locationZip
			$('#contact-location').val(location)
		}
	})
})

$('#screening-search').click(function () {
	console.log('screening search clicked')

	// clear errors
	$('#screening-search-status').html('')

	var firstName = $('#screening-firstname').val()
	var lastName  = $('#screening-lastname').val()
	var phone     = $('#screening-phone').val()

	var customer = {
		firstName : firstName,
		lastName  : lastName,
		phone     : phone
	}

console.log('customer', customer)

	sanctionsSearch(customer)
})


// initialize page
var complianceList = null
updateSactionsList()
</script>

</body>
</html>