<div class="row">
    <div class="col-sm-6 col-md-4">
        <div class="panel panel-default panel-shadow">
            <div class="media">
                <div class="media-left">
                    <div class="panel-body">
                        <div class="width-100">
                            <h5 class="text-muted margin-none" id="graphWeek-y">30-day Income</h5>
                            <h2 class="margin-none" id="graphWeek-a" id="30day-income">$0.00</h2>
                        </div>
                    </div>
                </div>
                <div class="media-body">
                    <div class="pull-right width-150">
                        <div id="graph1" style="height: 100px; margin:-5px;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="panel panel-default panel-shadow">
            <div class="media">
                <div class="media-left">
                    <div class="panel-body">
                        <div class="width-100">
                            <h5 class="text-muted margin-none" id="graphWeek2-y">30-day Expenses</h5>
                            <h2 class="margin-none" id="graphWeek2-a" id="30day-expenses">$0.00</h2>
                        </div>
                    </div>
                </div>
                <div class="media-body">
                    <div class="pull-right width-150">
                        <div id="graph2" style="height: 100px; margin:-5px;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="panel panel-grey panel-shadow">
            <div class="media">
                <div class="media-left">
                    <div class="panel-body">
                        <div class="width-100">
                            <h5 class="margin-none" id="graphWeek3-y">30-day Interest</h5>
                            <h2 class="margin-none" id="graphWeek3-a" id="30day-interest">$0.00</h2>
                        </div>
                    </div>
                </div>
                <div class="media-body">
                    <div class="pull-right width-150">
                        <div id="graph3" style="height: 100px; margin:-5px;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
if ($('#graphWeek').length > 0) {
    new Morris.Bar({
        element: 'graphWeek',
        data: [
            {y: 'Monday', a: '3129'},
            {y: 'Tuesday', a: '4872'},
            {y: 'Wednesday', a: '7746'},
            {y: 'Thursday', a: '6398'},
            {y: 'Friday', a: '2299'},
            {y: 'Saturday', a: '992'},
            {y: 'Sunday', a: '3111'}
        ],
        xkey: 'y',
        ykeys: 'a',
        labels: '',
        barSizeRatio: 0.6,
        grid: false,
        hideHover: true,
        barColors: function (row, series, type) {
            if (row.label == "Monday") return "#448aff";
            else if (row.label == "Tuesday") return "#f2522b";
            else if (row.label == "Wednesday") return "#448aff";
            else if (row.label == "Thursday") return "#f2522b";
            else if (row.label == "Friday") return "#448aff";
            else if (row.label == "Saturday") return "#f2522b";
            else if (row.label == "Sunday") return "#448aff";
        },
        hoverCallback: function (index, options, content, object) {

            $('#graphWeek-y').text(object.y);
            $('#graphWeek-a').text('$' + object.a);
        }
    });
}

if ($('#graphWeek2').length > 0) {
    new Morris.Bar({
        element: 'graphWeek2',
        data: [
            {y: 'Monday', a: '3129'},
            {y: 'Tuesday', a: '4872'},
            {y: 'Wednesday', a: '7746'},
            {y: 'Thursday', a: '6398'},
            {y: 'Friday', a: '2299'},
            {y: 'Saturday', a: '992'},
            {y: 'Sunday', a: '3111'}
        ],
        xkey: 'y',
        ykeys: 'a',
        labels: '',
        barSizeRatio: 0.6,
        grid: false,
        hideHover: true,
        barColors: function (row, series, type) {
            return "#ccc";
        },
        hoverCallback: function (index, options, content, object) {

            $('#graphWeek2-y').text(object.y);
            $('#graphWeek2-a').text('$' + object.a);
        }
    });
}

if ($('#graphWeek3').length > 0) {
    new Morris.Bar({
        element: 'graphWeek3',
        data: [
            {y: 'Monday', a: '3129'},
            {y: 'Tuesday', a: '4872'},
            {y: 'Wednesday', a: '7746'},
            {y: 'Thursday', a: '6398'},
            {y: 'Friday', a: '2299'},
            {y: 'Saturday', a: '992'},
            {y: 'Sunday', a: '3111'}
        ],
        xkey: 'y',
        ykeys: 'a',
        labels: '',
        barSizeRatio: 0.6,
        grid: false,
        hideHover: true,
        barColors: function (row, series, type) {
            return "#fff";
        },
        hoverCallback: function (index, options, content, object) {

            $('#graphWeek3-y').text(object.y);
            $('#graphWeek3-a').text('$' + object.a);
        }
    });
}
</script>