<% 

paymentCount       = 0
paymentInvoice     = []
paymentDescription = []
paymentAmount      = []

paymentInvoice[paymentCount]     = 12791
paymentDescription[paymentCount] = 'July Activity Statement'
paymentAmount[paymentCount]      = '$0.00'

paymentCount++
paymentInvoice[paymentCount]     = 12623
paymentDescription[paymentCount] = 'June Activity Statement'
paymentAmount[paymentCount]      = '$0.00'

paymentCount++
paymentInvoice[paymentCount]     = 12183
paymentDescription[paymentCount] = 'May Activity Statement'
paymentAmount[paymentCount]      = '$0.00'

%>

<div class="col-md-7">
    <h4 class="headline">Recent Statements <i class="md md-description"></i></h4>

    <div class="panel panel-default panel-shadow">
        <table class="table table-bordered">
            <% for (var i =0; i <= paymentCount; i++) { %>
            <tr>
                <td class="bold text-primary"><%=paymentAmount[i]%></td>
                <td>
                    <a href="javascript://" class="text-regular">
                        #<%=paymentInvoice[i]%> - <%=paymentDescription[i]%>
                    </a>
                </td>
                <td class="text-center">
                    <a href="javascript://"><i class="fa fa-download text-muted"></i></a>
                </td>
            </tr>
            <% } %>
        </table>
    </div>

    <div id='recent-statements'></div>

    <div class="media">
        <a href="javascript://" class="btn btn-primary bold">view all</a>
    </div>
</div>
