<div class="media">
    <div class="media-body clearfix-xs width-100">
        <div class="panel panel-shadow">
            <div class="panel-heading">
                <div class="pull-right btn-group">
                    <a href="javascript://" class="btn btn-default btn-vertical">2016.8</a>
                    <a href="javascript://" class="btn btn-default btn-vertical"><i class="md md-today md-lg text-muted"></i></a>
                </div>
                <h4 class="headline">
                    Recent Balance Activity
                </h4>
            </div>

            <div class="ct-chart" id="recent-chart" style="height: 200px; padding-right:15px; overflow: hidden"></div>
        </div>
    </div>
    <div class="media-right clearfix-xs">
        <div class="panel bg-primary text-center width-300">
            <div class="h3 margin-b-none">
                Current Balance
            </div>
            <div class="h4 margin-t-none light">updated 24mins ago</div>
            <div class="panel-body">
                <i class="fa fa-calendar fa-4x"></i>
                <div class="h1" id="balance_usd"></div>
            </div>
        </div>
    </div>
</div>
