<% include ../includes/head %>

<body class="sidebar-push">
  
<% include ../includes/nav %>

<% include ../includes/sidebar %>

<div class="container-fluid ">
      
<div id="main">
	<div class="page-header text-center">
		<h2>Buttons</h2>
	</div>
	<div class="row">
	<div class="col-md-10 col-lg-8 col-md-offset-1 col-lg-offset-2">

		<div class="panel panel-default panel-shadow">
			<div class="panel-body">
				<div class="media">
					<div class="media-left clearfix-xs text-center media-middle">
						<div class="width-300" style="padding:40px 0">
							<p><a href="#" class="btn btn-default-dark bold">Default Dark</a>
								<a href="#" class="btn btn-default-dark btn-outline bold">Default Dark</a></p>

							<p><a href="#" class="btn btn-default-light bold">Default Light</a>
								<a href="#" class="btn btn-default-light btn-outline bold">Default Light</a></p>

							<p><a href="#" class="btn btn-primary bold">Primary</a>
								<a href="#" class="btn btn-primary btn-outline bold">Primary</a></p>

							<p><a href="#" class="btn btn-orange bold">Orange</a>
								<a href="#" class="btn btn-orange btn-outline bold">Orange</a></p>

							<p><a href="#" class="btn btn-success bold">Success</a>
								<a href="#" class="btn btn-success btn-outline bold">Success</a></p>
						</div>
					</div>
					<div class="media-body media-middle">

						<h4>Unlimited Colors</h4>

						<p>This theme comes bundled with douzins of color variations but ultimately you can have any
						   color of your choice.</p>

					</div>

				</div>
			</div>
		</div>

<pre><code class="hljs html"><span class="hljs-tag">&lt;<span class="hljs-title">a</span> <span class="hljs-attribute">href</span>=<span class="hljs-value">"#"</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">"btn btn-default-dark bold"</span>&gt;</span>Default Dark<span class="hljs-tag">&lt;/<span class="hljs-title">a</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-title">a</span> <span class="hljs-attribute">href</span>=<span class="hljs-value">"#"</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">"btn btn-default-dark btn-outline bold"</span>&gt;</span>Default Dark Outline<span class="hljs-tag">&lt;/<span class="hljs-title">a</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-title">a</span> <span class="hljs-attribute">href</span>=<span class="hljs-value">"#"</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">"btn btn-default-light bold"</span>&gt;</span>Default Light<span class="hljs-tag">&lt;/<span class="hljs-title">a</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-title">a</span> <span class="hljs-attribute">href</span>=<span class="hljs-value">"#"</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">"btn btn-default-light btn-outline bold"</span>&gt;</span>Default Light Outline<span class="hljs-tag">&lt;/<span class="hljs-title">a</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-title">a</span> <span class="hljs-attribute">href</span>=<span class="hljs-value">"#"</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">"btn btn-primary bold"</span>&gt;</span>Primary<span class="hljs-tag">&lt;/<span class="hljs-title">a</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-title">a</span> <span class="hljs-attribute">href</span>=<span class="hljs-value">"#"</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">"btn btn-primary btn-outline bold"</span>&gt;</span>Primary Outline<span class="hljs-tag">&lt;/<span class="hljs-title">a</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-title">a</span> <span class="hljs-attribute">href</span>=<span class="hljs-value">"#"</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">"btn btn-orange bold"</span>&gt;</span>Orange<span class="hljs-tag">&lt;/<span class="hljs-title">a</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-title">a</span> <span class="hljs-attribute">href</span>=<span class="hljs-value">"#"</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">"btn btn-orange btn-outline bold"</span>&gt;</span>Orange Outline<span class="hljs-tag">&lt;/<span class="hljs-title">a</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-title">a</span> <span class="hljs-attribute">href</span>=<span class="hljs-value">"#"</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">"btn btn-success bold"</span>&gt;</span>Success<span class="hljs-tag">&lt;/<span class="hljs-title">a</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-title">a</span> <span class="hljs-attribute">href</span>=<span class="hljs-value">"#"</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">"btn btn-success btn-outline bold"</span>&gt;</span>Success Outline<span class="hljs-tag">&lt;/<span class="hljs-title">a</span>&gt;</span></code></pre>

		<div class="row">
			<div class="col-md-6">
				<div class="panel panel-default panel-shadow">
					<div class="panel-body">
						<h4>Square</h4>

						<p>Get the button shape or corners square.</p>
						<div class="text-center" style="padding:20px 0">
							<p><a href="#" class="btn btn-primary btn-square"><i class="md md-event"></i></a>&nbsp;&nbsp;
								<a href="#" class="btn btn-primary bold btn-square ">Primary</a>

							<p>
								<a href="#" class="btn btn-primary btn-square btn-outline"><i class="md md-event"></i></a>&nbsp;&nbsp;
								<a href="#" class="btn btn-primary bold btn-square btn-outline">Primary</a>
						</div>

					</div>
				</div>
			</div>

			<div class="col-md-6">
				<div class="panel panel-default panel-shadow">
					<div class="panel-body">
						<h4>Rounded</h4>

						<p>Want it rounded or circle?</p>
						<div class="text-center" style="padding:20px 0">
							<p><a href="#" class="btn btn-orange bold btn-rounded"><i class="md md-work"></i></a>&nbsp;&nbsp;
								<a href="#" class="btn btn-orange bold">Rounded Corners</a></p>

							<p>
								<a href="#" class="btn btn-orange bold btn-rounded btn-outline"><i class="md md-work"></i></a>&nbsp;&nbsp;
								<a href="#" class="btn btn-orange bold btn-outline">Rounded Corners</a></p>
						</div>

					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-6">
				<div class="panel panel-default panel-shadow">
					<div class="panel-body">
						<h4>Button Groups</h4>

						<p>Group two or more buttons together.</p>
						<div class="text-center" style="padding:20px 0">
							<div class="btn-group ">
								<a href="#" class="btn btn-default-dark bold">Btn #1</a>
								<a href="#" class="btn btn-primary bold">Btn #2</a>
								<a href="#" class="btn btn-orange bold">Btn #3</a>
							</div>

						</div>

					</div>
				</div>
			</div>

			<div class="col-md-6">
				<div class="panel panel-default panel-shadow">
					<div class="panel-body">
						<h4>Dropdown Buttons</h4>

						<p>Get more out of your buttons with a dropdown</p>
						<div class="text-center" style="padding:20px 0">
							<!-- Single button -->
							<div class="btn-group">
								<button type="button" class="btn btn-default-light dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
									Action <span class="caret"></span>
								</button>
								<ul class="dropdown-menu dropdown-menu-right" role="menu">
									<li><a href="#">Action</a></li>
									<li><a href="#">Another action</a></li>
									<li><a href="#">Something else here</a></li>
								</ul>
							</div>
							<div class="btn-group">
								<button type="button" class="btn btn-default-dark dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
									Action <span class="caret"></span>
								</button>
								<ul class="dropdown-menu dropdown-menu-right" role="menu">
									<li><a href="#">Action</a></li>
									<li><a href="#">Another action</a></li>
									<li><a href="#">Something else here</a></li>
								</ul>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>

	  <div class="footer">
	<a href="index.html" class="brand">
		<i class="md md-multitrack-audio"></i> Blueprint
	</a>
	<ul>
		<li><a href="#">Contact us</a></li>
		<li><a href="#">Support</a></li>
	</ul>
</div>
  </div>


  <div class="overlay-disabled"></div>


  <!-- Plugins -->
  <script src="../js/plugins.min.js"></script>

  
  <!-- App Scripts -->
  <script src="../js/scripts.js"></script>

</body>
</html>