<% include ../includes/head %>

<body class="sidebar-push">
  
<% include ../includes/nav %>

<% include ../includes/sidebar %>

<div class="container-fluid ">
      
<div id="main">
	<div class="page-header">
		<h2>Charts</h2>
	</div>
	<div class="panel">
		<div class="panel-body">
			<div class="ct-chart ct-chart-animated-line" style="height: 300px; padding-right:15px;"></div>
		</div>
	</div>
	<div class="panel">
		<div class="panel-body">
			<div class="ct-chart ct-chart-horizontal" style="height: 300px; padding-right:15px;"></div>
		</div>
	</div>
	<div class="panel">
		<div class="panel-body">
			<div class="ct-chart ct-chart-bars" style="height: 300px; padding-right:15px;"></div>
		</div>
	</div>

	<h4 class="headline">Morris</h4>
	<div class="panel">
		<div class="panel-body">
			<div id="line-example" style="height: 300px; padding-right:15px;"></div>
		</div>
	</div>
	<div class="panel">
		<div class="panel-body">
			<div id="area-example" style="height: 300px; padding-right:15px;"></div>
		</div>
	</div>
</div>


	  <div class="footer">
	<a href="index.html" class="brand">
		<i class="md md-multitrack-audio"></i> Blueprint
	</a>
	<ul>
		<li><a href="#">Contact us</a></li>
		<li><a href="#">Support</a></li>
	</ul>
</div>
  </div>


  <div class="overlay-disabled"></div>


  <!-- Plugins -->
  <script src="../js/plugins.min.js"></script>

  
  <!-- App Scripts -->
  <script src="../js/scripts.js"></script>

</body>
</html>