<% include ../includes/head %>

<body class="sidebar-push">
  
<% include ../includes/nav %>

<% include ../includes/sidebar %>

<div class="container-fluid ">
      
<div id="main">
	<div class="page-header">
		<h2>Inbox</h2>
	</div>
	<div class="media email">
		<div class="media-left clearfix-xs">
			<p>
				<a href="#" class="btn btn-orange btn-vertical btn-block text-left bold">Compose New
					<i class="md md-add-circle-outline pull-right"></i></a>
			</p>

			<div class="panel panel-default width-300 panel-shadow">
				
				
				
				
				<ul class="list-group">
					<li class="list-group-item active ">
						<div class="media">
							

							<div class="media-left media-middle">
								<img src="../images/people/110/guy-5.jpg" width="50" alt="guy" class="img-circle">
							</div>
							<div class="media-body media-middle">
								<small class="text-muted pull-right">5 Nov</small>
								<a href="#" data-toggle="showMail" class="h5">Subject of Email</a>

								<p class="margin-none">email@address.io</p>
							</div>
						</div>
					</li>
									   
				
				
					<li class="list-group-item ">
						<div class="media">
							

							<div class="media-left media-middle">
								<img src="../images/people/110/guy-6.jpg" width="50" alt="guy" class="img-circle">
							</div>
							<div class="media-body media-middle">
								<small class="text-muted pull-right">12 Nov</small>
								<a href="#" data-toggle="showMail" class="h5">Subject of Email</a>

								<p class="margin-none">email@address.io</p>
							</div>
						</div>
					</li>
									   
				
				
					<li class="list-group-item  read">
						<div class="media">
							
							<div class="email-list-attachment">
								<i class="md md-attachment"></i>
							</div>
							

							<div class="media-left media-middle">
								<img src="../images/people/110/guy-7.jpg" width="50" alt="guy" class="img-circle">
							</div>
							<div class="media-body media-middle">
								<small class="text-muted pull-right">22 Nov</small>
								<a href="#" data-toggle="showMail" class="h5">Subject of Email</a>

								<p class="margin-none">email@address.io</p>
							</div>
						</div>
					</li>
									   
				
				
					<li class="list-group-item  read">
						<div class="media">
							

							<div class="media-left media-middle">
								<img src="../images/people/110/guy-8.jpg" width="50" alt="guy" class="img-circle">
							</div>
							<div class="media-body media-middle">
								<small class="text-muted pull-right">23 Nov</small>
								<a href="#" data-toggle="showMail" class="h5">Subject of Email</a>

								<p class="margin-none">email@address.io</p>
							</div>
						</div>
					</li>
									   
				
				
					<li class="list-group-item  read">
						<div class="media">
							

							<div class="media-left media-middle">
								<img src="../images/people/110/guy-9.jpg" width="50" alt="guy" class="img-circle">
							</div>
							<div class="media-body media-middle">
								<small class="text-muted pull-right">25 Nov</small>
								<a href="#" data-toggle="showMail" class="h5">Subject of Email</a>

								<p class="margin-none">email@address.io</p>
							</div>
						</div>
					</li>
									   
				</ul>
				
				
			</div>
		</div>
		<div class="media-body">
			<p class="visible-xs">
				<button class="btn btn-default-light btn-xs" data-toggle="showMail"><i class="md md-backspace"></i>
					Inbox
				</button>
			</p>
			<div class="panel panel-default">
				<div class="email-header media">
					<div class="media-body media-middle">
						<h4 class="margin-none">Re: Quick Status</h4>

						<p class="text-muted margin-none"><a href="#">blue@blue.com</a> on 12 Nov 2015</p>
					</div>
					<div class="media-right media-middle text-right">
						<div class="btn-group-vertical" role="group" aria-label="...">
							<button type="button" class="btn btn-default btn-xs"><i class="md md-reply"></i></button>
							<button type="button" class="btn btn-default-light btn-xs"><i
							 class="md md-arrow-forward"></i></button>
						</div>
					</div>
				</div>
				<div class="panel-body">
					<p>Hi Smith,</p>

					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum, deleniti excepturi laborum neque
					   nostrum reprehenderit repudiandae sequi voluptatem.</p>

					<p>Regards,<br/>Adrian
					</p>

					<p class="margin-none">On 02 Mar 2015, at 17:00, Bill
						<noreply
						 @email.com> wrote:
					</p>
					<blockquote>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aliquid asperiores cupiditate,
						   magnam modi provident quaerat quibusdam? Fuga, laborum, necessitatibus?</p>
					</blockquote>
				</div>
			</div>
			<div class="media">
				<div class="media-body media-middle">
					<h4 class="headline">Attachments <i class="md md-attachment"></i></h4>
				</div>
				<div class="media-right media-middle">
					<a href="javascript:alert('save all action')" class="btn btn-default btn-xs"><i
					 class="md md-file-download"></i> Save All</a>
				</div>
			</div>
			<ul class="list-group">
				<li class="list-group-item">
					<div class="media">
						<div class="media-body media-middle">
							<a href="#"><i class="fa fa-file-pdf-o fa-fw"></i> Filename</a> <span class="text-muted">(24 kb)</span>
						</div>
						<div class="media-right">
							<a href="javascript:alert('download action')" class="btn btn-default-dark btn-xs"><i
							 class="md md-file-download"></i></a>
						</div>
					</div>
				</li>
				<li class="list-group-item">
					<div class="media">
						<div class="media-body media-middle">
							<a href="#"><i class="fa fa-file-pdf-o fa-fw"></i> Filename</a> <span class="text-muted">(24 kb)</span>
						</div>
						<div class="media-right">
							<a href="javascript:alert('download action')" class="btn btn-default-dark btn-xs"><i
							 class="md md-file-download"></i></a>
						</div>
					</div>
				</li>
			</ul>
			<div class=" text-right">
				<form action="#">
					<div class="form-group">
                        <textarea name="reply" id="reply" cols="30" rows="5" placeholder="Write here ..."
								  class="form-control"></textarea>
					</div>
					<a href="#" class="btn btn-primary"><i class="md md-reply"></i> Reply</a>
				</form>
			</div>
		</div>
	</div>
</div>


	  <div class="footer">
	<a href="index.html" class="brand">
		<i class="md md-multitrack-audio"></i> Blueprint
	</a>
	<ul>
		<li><a href="#">Contact us</a></li>
		<li><a href="#">Support</a></li>
	</ul>
</div>
  </div>


  <div class="overlay-disabled"></div>


  <!-- Plugins -->
  <script src="../js/plugins.min.js"></script>

  
  <!-- App Scripts -->
  <script src="../js/scripts.js"></script>

</body>
</html>