<% include ../includes/head %>

<body class="sidebar-push">
  
<% include ../includes/nav %>

<% include ../includes/sidebar %>

<div class="container-fluid ">
      
<div id="main">
	<div class="page-header text-center">
		<h2>Tree Views</h2>
	</div>
	<div class="row">
		<div class="col-md-10 col-lg-8 col-md-offset-1 col-lg-offset-2">

			<h4 class="page-section-heading">Default options</h4>
			<div class="panel panel-default">
				<div class="panel-body">
					<div data-toggle="tree">
						<ul style="display: none;">
							<li>item1</li>
							<li>item2</li>
							<li class="folder">
								Folder <em>with some</em> children
								<ul>
									<li>Sub-item 3.1
										<ul>
											<li>Sub-item 3.1.1</li>
											<li>Sub-item 3.1.2</li>
										</ul>
									</li>
									<li>Sub-item 3.2
										<ul>
											<li>Sub-item 3.2.1</li>
											<li>Sub-item 3.2.2</li>
										</ul>
									</li>
								</ul>
							</li>
							<li class="expanded">
								Document with some children (expanded on init)
								<ul>
									<li class="active focused expanded">Sub-item 4.1 (expanded, active and focused on
																		init)
										<ul>
											<li>Sub-item 4.1.1</li>
											<li>Sub-item 4.1.2</li>
										</ul>
									</li>
									<li>Sub-item 4.2
										<ul>
											<li>Sub-item 4.2.1</li>
											<li>Sub-item 4.2.2</li>
										</ul>
									</li>
								</ul>
							</li>
						</ul>
					</div>
				</div>
			</div>

			<h4 class="page-section-heading">With Multiple Selection</h4>
			<div class="panel panel-default">
				<div class="panel-body">
					<div data-toggle="tree" data-tree-checkbox data-tree-select="3">
						<ul style="display: none;">
							<li>item1</li>
							<li class="selected">item2 (selected on init)</li>
							<li class="folder">
								Folder <em>with some</em> children
								<ul>
									<li>Sub-item 3.1
										<ul>
											<li>Sub-item 3.1.1</li>
											<li>Sub-item 3.1.2</li>
										</ul>
									</li>
									<li>Sub-item 3.2
										<ul>
											<li>Sub-item 3.2.1</li>
											<li>Sub-item 3.2.2</li>
										</ul>
									</li>
								</ul>
							</li>
							<li class="expanded">
								Document with some children (expanded on init)
								<ul>
									<li class="expanded">
										Sub-item 4.1 (expanded on init)
										<ul>
											<li class="selected">Sub-item 4.1.1 (selected on init)</li>
											<li class="selected">Sub-item 4.1.2 (selected on init)</li>
										</ul>
									</li>
									<li>Sub-item 4.2
										<ul>
											<li>Sub-item 4.2.1</li>
											<li>Sub-item 4.2.2</li>
										</ul>
									</li>
								</ul>
							</li>
						</ul>
					</div>
				</div>
			</div>

			<h4 class="page-section-heading">With Single Selection</h4>
			<div class="panel panel-default">
				<div class="panel-body">
					<div data-toggle="tree" data-tree-checkbox data-tree-select="1">
						<ul style="display: none;">
							<li>item1</li>
							<li class="selected">item2 (selected on init)</li>
							<li class="folder">
								Folder <em>with some</em> children
								<ul>
									<li>Sub-item 3.1
										<ul>
											<li>Sub-item 3.1.1</li>
											<li>Sub-item 3.1.2</li>
										</ul>
									</li>
									<li>Sub-item 3.2
										<ul>
											<li>Sub-item 3.2.1</li>
											<li>Sub-item 3.2.2</li>
										</ul>
									</li>
								</ul>
							</li>
							<li class="expanded">
								Document with some children (expanded on init)
								<ul>
									<li class="expanded">Sub-item 4.1 (expanded on init)
										<ul>
											<li>Sub-item 4.1.1</li>
											<li>Sub-item 4.1.2</li>
										</ul>
									</li>
									<li>Sub-item 4.2
										<ul>
											<li>Sub-item 4.2.1</li>
											<li>Sub-item 4.2.2</li>
										</ul>
									</li>
								</ul>
							</li>
						</ul>
					</div>
				</div>
			</div>

			<h4 class="page-section-heading">With Drag &amp; Drop</h4>
			<div class="panel panel-default">
				<div class="panel-body">
					<div data-toggle="tree" data-tree-dnd>
						<ul style="display: none;">
							<li>item1</li>
							<li class="selected">item2 (selected on init)</li>
							<li class="folder">
								Folder <em>with some</em> children
								<ul>
									<li>Sub-item 3.1
										<ul>
											<li>Sub-item 3.1.1</li>
											<li>Sub-item 3.1.2</li>
										</ul>
									</li>
									<li>Sub-item 3.2
										<ul>
											<li>Sub-item 3.2.1</li>
											<li>Sub-item 3.2.2</li>
										</ul>
									</li>
								</ul>
							</li>
							<li class="expanded">
								Document with some children (expanded on init)
								<ul>
									<li class="expanded">Sub-item 4.1 (expanded on init)
										<ul>
											<li>Sub-item 4.1.1</li>
											<li>Sub-item 4.1.2</li>
										</ul>
									</li>
									<li>Sub-item 4.2
										<ul>
											<li>Sub-item 4.2.1</li>
											<li>Sub-item 4.2.2</li>
										</ul>
									</li>
								</ul>
							</li>
						</ul>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>

	  <div class="footer">
	<a href="index.html" class="brand">
		<i class="md md-multitrack-audio"></i> Blueprint
	</a>
	<ul>
		<li><a href="#">Contact us</a></li>
		<li><a href="#">Support</a></li>
	</ul>
</div>
  </div>


  <div class="overlay-disabled"></div>


  <!-- Plugins -->
  <script src="../js/plugins.min.js"></script>

  
  <!-- App Scripts -->
  <script src="../js/scripts.js"></script>

</body>
</html>