<div role="tabpanel" class="tab-pane" id="phone">
    <form class="form-horizontal padding-15">
        <div class="form-group">
            <label for="" class="col-sm-3 control-label">Mobile Number</label>

            <div class="col-sm-9">
                <input type="text" class="form-manager" id="contact-num" value="" placeholder="+1 404 555-1212">
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-3 col-sm-9 ">
                <div id="contact-search-status"></div>
                <a href="javascript://" class="btn btn-primary" id="contact-search">Search</a>
            </div>
        </div>

        <hr>

        <div class="form-group">
            <label for="" class="col-sm-3 control-label">Name</label>
            <div class="col-sm-9">
                <input type="text" class="form-manager" id="contact-fullname" value="" placeholder="Jane Doe" disabled>
            </div>
        </div>

        <div class="form-group">
            <label for="" class="col-sm-3 control-label">Carrier</label>
            <div class="col-sm-9">
                <input type="text" class="form-manager" id="contact-carrier" value="" placeholder="unknown" disabled>
            </div>
        </div>

        <div class="form-group">
            <label for="" class="col-sm-3 control-label">Location</label>
            <div class="col-sm-9">
                <input type="text" class="form-manager" id="contact-location" value="" placeholder="unknown" disabled>
            </div>
        </div>

        <div class="form-group">
            <label for="" class="col-sm-3 control-label">Gender</label>
            <div class="col-sm-9">
                <input type="text" class="form-manager" id="contact-gender" value="" placeholder="unknown" disabled>
            </div>
        </div>

        <div class="form-group">
            <label for="" class="col-sm-3 control-label">Line Type</label>
            <div class="col-sm-9">
                <input type="text" class="form-manager" id="contact-line-type" value="" placeholder="unknown" disabled>
            </div>
        </div>

        <div>Pricing Total: <span id="contact-pricing-total"></span></div>
    </form>
</div>
