<div role="tabpanel" class="tab-pane active" id="sanctions">

    <div class="panel panel-default panel-shadow">
        <div class="panel-body">
            <h4 class="headline">Customer Profiles</h4>

            <table id="compliance-list" class="table table-striped table-hover dt-responsive" cellspacing="0" width="100%">
                <thead>
                <tr>
                    <th></th>
                    <th>Nickname</th>
                    <th>First</th>
                    <!-- <th>Middle</th> -->
                    <th>Last</th>
                    <th>D/O/B</th>
                    <th>ID Type</th>
                    <th>ID Number</th>
                    <th>Street Address</th>
                </tr>
                </thead>

                <tbody>
                <!-- <tr><td colspan="8">Sample 1</td></tr> -->
<!-- 
                <tr>
                    <td>Aamon</td>
                    <td>Satoshi</td>
                    <td>M</td>
                    <td>Nakamoto</td>
                    <td>2011.4.25</td>
                    <td>DL</td>
                    <td>583 948 2845</td>
                    <td>5421 Main St, New York</td>

                    <td class="text-center">
                        <a href="#" class="btn btn-default btn-rounded"><i class="md md-edit"></i></a>
                        <a href="#" class="btn btn-default btn-rounded"><i class="md md-delete"></i></a>
                    </td>

                </tr>
 -->
                </tbody>
            </table>
        </div>
        <div class="clearfix"></div>
    </div>


    <form class="form-horizontal padding-15">
        <div class="form-group">
            <label for="" class="col-sm-3 control-label">First Name</label>

            <div class="col-sm-9">
                <input type="text" class="form-manager" id="screening-firstname" value="" placeholder="Jane">
            </div>
        </div>

        <div class="form-group">
            <label for="" class="col-sm-3 control-label">Last Name</label>

            <div class="col-sm-9">
                <input type="text" class="form-manager" id="screening-lastname" value="" placeholder="Doe">
            </div>
        </div>

        <div class="form-group">
            <label for="" class="col-sm-3 control-label">Mobile Phone</label>

            <div class="col-sm-9">
                <input type="text" class="form-manager" id="screening-phone" value="" placeholder="14045551212">
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-3 col-sm-9 ">
                <div id="screening-search-status"></div>
                <a href="javascript://" class="btn btn-primary" id="screening-search">Search</a>
            </div>
        </div>

        <hr>

        <div class="form-group">
            <label for="" class="col-sm-3 control-label">Phone Result</label>
            <div class="col-sm-9">
                <input type="text" class="form-manager" id="screening-ts2-details" value="" placeholder="Jane Doe" disabled>
            </div>
        </div>

        <div class="form-group">
            <label for="" class="col-sm-3 control-label">Sanctions Result</label>
            <div class="col-sm-9">
                <input type="text" class="form-manager" id="screening-ss2-details" value="" placeholder="Jane Doe" disabled>
            </div>
        </div>

        <div class="panel panel-default panel-shadow">
            <div class="panel-body">
                <h4 class="margin-t-none">Results</h4>
                <textarea id="screening-results" cols="120" rows="20"></textarea>
            </div>
        </div>

<!-- 
        <div class="form-group">
            <label for="" class="col-sm-3 control-label">Carrier</label>
            <div class="col-sm-9">
                <input type="text" class="form-manager" id="screening-carrier" value="" placeholder="unknown" disabled>
            </div>
        </div>

        <div class="form-group">
            <label for="" class="col-sm-3 control-label">Location</label>
            <div class="col-sm-9">
                <input type="text" class="form-manager" id="screening-location" value="" placeholder="unknown" disabled>
            </div>
        </div>

        <div class="form-group">
            <label for="" class="col-sm-3 control-label">Gender</label>
            <div class="col-sm-9">
                <input type="text" class="form-manager" id="screening-gender" value="" placeholder="unknown" disabled>
            </div>
        </div>

        <div class="form-group">
            <label for="" class="col-sm-3 control-label">Line Type</label>
            <div class="col-sm-9">
                <input type="text" class="form-manager" id="screening-line-type" value="" placeholder="unknown" disabled>
            </div>
        </div>
-->
    </form>
</div>
