<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle visible-xs visible-sm collapsed pull-left" id="showLeftPush">
                <i class="md md-menu"></i>
            </button>
        
            <a class="navbar-brand" href="index.html">Modenero Manager</a>
        
            <button type="button" class="navbar-toggle pull-right" id="showRightPush">
                <i class="md md-more-vert"></i>
            </button>
        </div>
    
        <div class="hidden-xs">
            <ul class="nav navbar-nav">
                <li><a href="javascript://">NEWS: Modenero Backend Goes Live!</a></li>
                <li><a href="javascript://">BTC &rarr; <span id="concierge_usd" style="color:#c33;"><em>loading...</em></span></a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li class="active dropdown">
                    <button class="btn btn-default navbar-btn btn-rounded"  data-toggle="dropdown">
                        <i class="md md-notifications"></i>
                    </button>
                
                    <div class="dropdown-menu dropdown-caret dropdown-caret-right  width-300">
                        <div class="dropdown-padding dropdown-headline">
                            <div class="media dropdown-head">
                                <div class="media-body media-middle">
                                    <h4 class="">Notifications <small class="bold text-muted">(3 new)</small></h4>
                                </div>
                                <div class="media-right media-middle">
                                    <a href="javascript://" class="text-muted"><i class="md md-list"></i></a>
                                </div>
                            </div>
                        </div>
                    
                        <div class="dropdown-padding">
                            <div class="notification-block body-bg">
                                <span class="notification-icon orange">
                                    <i class="md md-comment"></i>
                                </span>
                                <span class="notification-content">
                                    <a href="javascript://">+1 (201) 555-1212</a> sent <a href="javascript://">"How long will it take for my coins to confirm?"</a>
                                </span>
                                <small>2 min ago</small>
                            </div>
                        
                            <div class="notification-block body-bg">
                                <span class="notification-icon green">
                                    <i class="md md-today"></i>
                                </span>
                                <span class="notification-content">
                                    1h left until <a href="javascript://">Concierge Cast</a>
                                </span>
                                <small>15 min ago</small>
                            </div>
                        
                            <div class="notification-block body-bg">
                                <span class="notification-icon primary">
                                    <i class="md md-timelapse"></i>
                                </span>
                                <span class="notification-content">
                                    <a href="javascript://">Happy Hookah</a> capacity has reached @ 80%
                                </span>
                                <small>36 min ago</small>
                            </div>
                        </div>
                    
                        <div class="dropdown-padding text-center">
                            <a href="javascript://">View all</a>
                        </div>
                    </div>
                </li>
            
                <li class="dropdown">
                    <button class="btn btn-default-light navbar-btn btn-rounded"  data-toggle="dropdown">
                        <i class="md md-language"></i>
                    </button>
                
                    <ul class="dropdown-menu dropdown-caret dropdown-caret-right dropdown-menu-auto">
                        <li><a href="javascript://">English</a></li>
                        <li><a href="javascript://">Chinese</a></li>
                    </ul>
                </li>
            
                <li class="dropdown">
                    <button class="btn btn-primary navbar-btn btn-rounded"  data-toggle="dropdown">
                        <i class="md md-email"></i>
                    </button>
                
                    <div class="dropdown-menu dropdown-caret dropdown-caret-right width-300">
                        <div class="dropdown-padding">
                            <a href="javascript://" class="notification-block">
                                <span class="notification-icon primary">
                                    <i class="md md-email"></i>
                                </span>
                                <span class="notification-content">
                                    Bitcoin 'Forked' in Controversial Bid to Resolve Scalability Question
                                </span>
                                <small>1 hr 30 min ago</small>
                            </a>
                        </div>
                    
                        <div class="dropdown-padding">
                            <a href="javascript://" class="notification-block">
                                <span class="notification-icon primary">
                                    <i class="md md-email"></i>
                                </span>
                                <span class="notification-content">
                                    FinCEN Rules Commodity-Backed Token Services are Money Transmitters
                                </span>
                                <small>1 day ago</small>
                            </a>
                        </div>
                    </div>
                </li>
            
                <li>
                    <div class="btn-group navbar-btn">
                        <a href="/manager/signout" class="btn btn-orange ">Sign Out</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
